{% extends "base.html" %}

{% load staticfiles %}

{% block content %}
   <div class="container">
      <div class="row row-content">
         <div class="col-xs-12 col-md-8">
            <p style="padding:10px;"></p>
             <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-responsive img-thumbnail" src="{% static 'img/ProfaPero.jpg' %}" alt="ProfaPero" height=100 width=100/>
                    </a>
                </div> 
                <div class="media-body">
                    <h4 class="media-object">Pero Škobo</h4>  
                    <p>Moje ime je Pero, a rođen sam na vrhuncu koševine, ljeti, 11.07.1954. god
                        u zaseoku Kvačići. Siromašnog detinjstva, rano sam naučio obavljati seoske poslove. Često sam ostao bez užine jer sam je dao drugome, često me smlatila hladna kisa jer sam drugima dao svoj kaput a ja se sve junačio da meni ne treba, i da meni vrijeme koje protječe ne može ništa učiniti.</p>
                    <p>A pametni su bili naši stari, ynali su oni dobro kako treba u slozi živjeti sa svojim komšijama, kako poštovati njihovu vjeru, njihove običaje, njihove svetinje. Selo je bila Bosna u malom, i to ona koja je složna, ona dobra Bosna kakvom ju je Bog i stvorio, a gtijeh je veliki na ljudima koji su je pokušali zanijekati, da je nema, i da nam nije nikada bila svima jednaka, jer to je čista laž. Moj životni san oduvijek je bio sloga kršcana i muslimana.</p>
                    <p>Helem, rano sam čitao Jesenjina, svakako sam ga brzo posmatrao kritički radi forme, radi rima u Jesenjinovim pjesmama. Nekako se Jesenjin dobro uklopio u moje rano djetinstvo. Svoju sreću u duši našao sam čitajući arapske pjesnike. Pročitao sam u maldosti možda sve važno što je u svijetu napisano iz područja poezije, ipak sam poklonik misli da čovijek u svome srcu nosa ssvoju pjesmu, svoju ljubav... i da je dobrota iz grudi jedan dar namijenjen svim ljudima, a to je poezija kakvoj na uči Rumi. Njegova ljubav se vječno njiše u njegovim grudima možemo nazvati Bog.</p>
                    <p>Do sada sam objavio tri zbirke: Divlji ljiljan, Cvijet Zelengore, i Bosonoge svatove.</p>
                    <p>Bosonogi svatovi su zbirka pjesama koji su posvećeni mojoj ljubavi i čežnji.</p>
                    <p><em>S poštovanjem Vaš,</br>
                        &nbsp
                        Pero Škobo</em></p>
                </div>
            </div>
        </div><!--end md-8 row--> 

        <div class="col-xs-12 col-sm-4">
            <p style="padding:20px;"></p>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Moja Izdanja</h3>  
                    </div><!-- end panel-heading -->
                    <div class="panel-body">
                        <a href=""><img class="img-responsive img-thumbnail" src="{% static 'img/cover.jpg' %}" alt="Bosonogi Svatovi" height=250 width=150 />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-download fa-5x"></i></a>

                        <p>Klilnite na knjigu ako zelite preuzeti vasu verziju <em>Bosonogih Svatova</em></p>
                        <p><em>"Nije to poezija, to je samo duša prilegla ispod jorgovana...
                            nije ljubav, to su nemiri zbog rasphodanih leptira... nije tuga,
                            to je lik koji se zaljuljao u mojim bunarima... nije pjesma to sam
                            taman pošao da zaplačem... nije suza, to je jutarnja rosa poškropila
                            po šafranima... nije nebo, to su cigani pogubili đerdane po svodu"</em></p>
                    </div><!-- end panel-body -->
                </div><!-- end panel-primary -->
            </div><!-- end md-4 row-->
    </div><!--end first media section--> 

    <hr />

    <div class="row">
       <div class="col-xs-12 col-md-10 col-md-offset-1">
             <div class="media">
                <div class="media-body">
                <div class="well">
                    <blockquote>
                        <h4>Bosonogi Svatovi</h4>
                        <p>Zbirku pjesama "Bosonogi Svatovi" Pere Škoba je jubav sama. Ona ljubav koja jakim svijetlom obasjava ovaj svijet već odavno posivio i potamnio. A čista je kao suza djetinstva. U biti, to je ljubav prema ljubavi samoj, pokretnička sila čovjeka na najbolje i najlepše. I ja sam radosna što još ima takvih sila u vremenu kada se polako gubi vjera da je sve lijepo nestalo, a sve što je preostali besmisleno. I pomalo tužna što ne umijem pisati ovakve stihove.</p>
                        <footer>Nura Bazdulj Hubijar
                          <cite>U Travniku, 14.08.2015.</cite>
                        </footer>
                    </blockquote>
                </div>
                </div>
                <div class="media-right">
                        <img class="media-object img-responsive img-thumbnail" src="{% static 'img/sahat.jpg' %}" alt="ProfaPero" height=250 width=250 />
                </div> 
            </div>
       </div> 
   </div><!--end second media section-->
   <hr>
      <footer>
        <p>&copy; Company 2015</p>
      </footer>
  </div><!--end container-> 
{% endblock %} 
