{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
        
        <h2>{{ single_post.title }}</h2>
        <ul>
            <p><em>{{ single_post.created_at }}</em></p>
            <p>{{ single_post.content }}</p>
            <p>Tag: {{ single_post.tag }}</p>
            <br />
    </div>
    <div class="col-xs-12 col-md-10 col-md-offset-1">
            <p>
                {% if single_post.image %}
                <img src="/media/{{ single_post.image }}" alt=""/> 
                {% endif %} 
            </p>
            <p>Views: {{ single_post.views }}</p>
        </ul>
        <p>Posle uzivanja u ovoj pesmi!<a href="/blog">home</a></p><br/>
    </div>
</div>
{% endblock content %}
